{% extends "base.html" %}

{% block title %}Profile of {{ request.user.username }}{% endblock %}

{% block content %}
    <!-- Left Navbar -->
{#    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">#}
{#      <h3 class="w3-bar-item">Menu</h3>#}
{#      <a href="#" class="w3-bar-item w3-button active">Information</a>#}
{#      <a href="#" class="w3-bar-item w3-button">Change password</a>#}
{#    </div>#}

    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Information</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Change password</a>
            </div>
        </div>
        <div class="col-9">
            <div class="w3-container w3-teal">
                <h3>User profile</h3>
            </div>
            <div class="tab-content" id="v-pills-tabContent">


                <!-- Page Content -->
{#    <div style="margin-left:23.5%">#}



        <!--<img src="img_car.jpg" alt="Car" style="width:100%">-->

        <!--<div class="w3-container">-->
        <!--<h2>Sidebar Navigation Example</h2>-->
        <!--<p>The sidebar with is set with "style="width:25%".</p>-->
        <!--<p>The left margin of the page content is set to the same value.</p>-->
        <!--</div>-->


{#    </div>#}

                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

{#                                    <div class="card">#}
{#                    <div class="card-body">#}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{##}
{#                    <form action="" method="post">{% csrf_token %}#}
{#                {{ form.as_p }}#}
{#            <button type="submit" id="btn_submit" class="btn btn-primary">Update information</button>#}
{#            </form>#}
{#                            </div>#}
{#                            </div>#}
{#                        </div>#}
{#                                        </div>#}

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form action="" method="post">{% csrf_token %}
                                    {% for form in info_form %}
                                        <div class="form-group row">
                                            <label for="{{ form.id_for_label }}" class="col-4 col-form-label">{{ form.label }}</label>
                                            <div class="col-8">
                                                {{ form }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="form-group row">
                                        <div class="offset-4 col-8">
                                        <button name="submit" type="submit" class="btn btn-primary">Update Profile</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
		        </div>
{##}
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
{#                    <div class="modal-header">#}
{#        <h3>Change Password <span class="extra-title muted"></span></h3>#}
{#    </div>#}
{#    <div class="modal-body form-horizontal">#}
{#        <div class="control-group">#}
{#            <label for="current_password" class="control-label">Current Password</label>#}
{#            <div class="controls">#}
{#                <input type="password" name="current_password">#}
{#            </div>#}
{#        </div>#}
{#        <div class="control-group">#}
{#            <label for="new_password" class="control-label">New Password</label>#}
{#            <div class="controls">#}
{#                <input type="password" name="new_password">#}
{#            </div>#}
{#        </div>#}
{#        <div class="control-group">#}
{#            <label for="confirm_password" class="control-label">Confirm Password</label>#}
{#            <div class="controls">#}
{#                <input type="password" name="confirm_password">#}
{#            </div>#}
{#        </div>      #}
{#    </div>#}
{#    <div class="modal-footer">#}
{#        <button href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>#}
{#        <button href="#" class="btn btn-primary" id="password_modal_save">Save changes</button>#}
{#    </div>#}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form action="" method="post">{% csrf_token %}
                                    {% for form in pass_form %}
                                        <div class="form-group row">
                                            <label for="{{ form.id_for_label }}" class="col-4 col-form-label">{{ form.label }}</label>
                                            <div class="col-8">
                                                {{ form }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="form-group row">
                                        <div class="offset-4 col-8">
                                        <button name="submit" type="submit" class="btn btn-primary">Update Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
		        </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script defer>
        Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";

        Vue.http.interceptors.push((request, next) => {
          request.headers.set('Authorization', 'Token {{ request.user.auth_token.key }}');
          request.headers.set('Accept', 'application/json');
          next()
        });
</script>